//This is the begining of a breakpoints file - I might make some mixins but initally I want to just document the breakpoints I have decided to use

$sm-breakpoint: 480px;
$md-breakpoint: 980px;
$lg-breakpoint: 1690px;